parameters:
    level: 4
    treatPhpDocTypesAsCertain: false
    paths:
        - ./
    excludePaths:
        - ./vendor/*
        - ./tests/*
        # These files contain giant arrays that seem to make newer versions of phpstan stall/crash
        - ./src/Zend/Validate/Hostname/*
    ignoreErrors:
        - '#Variable \$context in isset\(\) always exists and is not nullable\.#'
        - '#Binary operation "\*" between string and .+ results in an error\.#'
        - '#Binary operation "\*" between 3 and string results in an error\.#'
        # This is intentional for short circuiting/execution flow management
        -
            message: '#Do-while loop condition is always false\.#'
            path: ./src/Zend/Validate/Hostname.php
        -
            message: '#Binary operation "\*" between int<1, max> and string results in an error\.#'
            path: ./src/Zend/Validate/Ccnum.php
            count: 1
        -
            message: '#Binary operation "\*" between int<1, max> and string results in an error\.#'
            path: ./src/Zend/Validate/CreditCard.php
            count: 1
        # This does seem like a bug in ZF1, as the loop with $j will never run
        -
            message: '#Comparison operation "<" between int<4, max> and 4 is always false\.#'
            path: ./src/Zend/Validate/EmailAddress.php
            count: 1
        -
            message: '#Cannot access offset \*NEVER\* on int\.#'
            path: ./src/Zend/Validate/EmailAddress.php
            count: 2
